{% extends 'content_page.html' %}

{% block head %}
    <title>
        Register
    </title>
{% endblock %}

{% block body %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }}
        {{ form.username}}
        <br>
        {{ form.password.label }}
        {{ form.password }}
        <br>
        {{ form.cf_pword.label }}
        {{ form.cf_pword }}
        <br>
        {{ form.submit_button }}
    </form>
    {% if not_empty %}
        <p>{{ form.username.data }} was exist!</p>
    {% endif %}
{% endblock %}